body {
    background-color: black;
    color: aliceblue;
}

.logo {
    width: 42px;
    height: 46px;
    padding: 4px 6px;
    border-radius: 30px;
}

.active i {
    color: #27a3c9;
}

.active div {
    font-weight: 600;
}

.active Button {
    font-weight: 600;
}

.active path {
    fill: #27a3c9;
}

.home {
    padding: 10px 10px;
    position: relative;
    font-size: 19px;
}

.home-4 {
    padding: 10px 10px;
    position: relative;
    font-size: 16px;
}

.home-4:hover {
    background-color: #1a1a1a;
    border-radius: 10px;
    cursor: pointer;
}

.home-5 {
    padding: 10px 10px;
    position: relative;
    font-size: 16px;
}

.home-5:hover {
    background-color: #1a1a1a;
    border-radius: 10px;
    cursor: pointer;
}

.home-6 {
    padding: 10px 10px;
    position: relative;
    font-size: 16px;
}

.home-6:hover {
    border-radius: 10px;
    cursor: pointer;
}

.home-7:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #232222;    
}


.notifications {
    width: 15px;
    height: 15px;
    background-color: #0688af;
    position: absolute;
    top: 9px;
    right: 124px;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.9px;
}

.isaret {
    width: 7px;
    height: 7px;
    background-color: #0688af;
    position: absolute;
    top: 12px;
    right: 116px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1px;
    padding-bottom: 2px;
}

.home-1 {
    padding: 8px 8px;
}

.home-1:hover {
    background-color: #1a1a1a;
    border-radius: 20px;
}

.home:hover {
    background-color: #1a1a1a;
    border-radius: 20px;
}

.home-2:hover {
    background-color: #110101;
}

.logo:hover {
    background-color: #1a1a1a;
}

.collapses {
    margin-left: 8px;
}

.collapses:hover {
    background-color: #1a1a1a;
    border-radius: 6px;
}

.blue {
    width: 14px;
    height: 14px;
    background-color: #0688af;
    position: absolute;
    top: 23px;
    right: 21px;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.4px;
}

.home-8 {
    text-decoration: none;
}

.home-8:hover {
    text-decoration: underline;
}

.home-9 {
    overflow-y: auto;
}

.home-9::-webkit-scrollbar {
    display: none;
}

.home-10 {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-10:hover {
    background-color: rgba(29, 155, 240, 0.1);
}
.home-10:hover i{
    color: #0688af;
}

.home-11 {
    padding: 3px 10px;
}
.home-11:hover {
    background-color: rgba(29, 155, 240, 0.1);
    cursor: pointer;
    border-radius: 6px;
}
.home-12 {
    color: white;
}
.home-12:hover {
    color: red;
    text-shadow: 4px 4px 16px red;
}
/*

    genişlik = 1265px
    sol sidebar = 275 px
    sag sidebar = 350 px
    content alanı = auto

*/