body {
    background-color: black;
    color: aliceblue;
}

.logo {
    width: 40px;
    height: 44px;
    padding: 8px 8px;
    border-radius: 30px;
}

.logo:hover {
    background-color: #1a1a1a;
}
/*

    genişlik = 1265px
    sol sidebar = 275 px
    sag sidebar = 350 px
    content alanı = auto

*/